section, .imagem {
    width: 500px;
    height: 300px;
    border: 1px solid black;
}

.btn1 :hover, .btn2 :hover {
    background-color: white;
    border: 3px solid #ddd;
}

.btn1, .btn2 {
    position: absolute;
    font-size: 40px;
    color: coral;
    font-weight: bold;
    display: none;
}

.btn2 {
    margin-left: 50px;
}

.contar {
    position: absolute;
    font-size: 22px;
    top: 280px;
    font-weight: bold;
    font-family: tahoma;
    color: orange;
    display: none;
}