.slide, .inicio, .rodape, .imagem {
    width: 600px;
}

.slide {
    margin-top: 50px;
}

.rodape {
    background-color: black;
}

.inicio, .imagem {
    height: 300px;
}

.btn1:hover, .btn2:hover {
    background-color: lightblue;
}

.btn1, .btn2 {
    border: 1px solid black;
    position: absolute;
    font-size: 35px;
    color: coral;
    font-weight: bold;
    display: none;
}

.btn2 {
    margin-left: 50px;
}

.contar {
   color: white;
   font-size: 18px;
   display: none;
}